body{
    overflow-x: hidden;
}
.admin_schedule_container{
    height: 100vh;
    width: 100%;
    display: flex;
}

.admin_content{
    width: 95.1%;
    height: 100%;
    margin-left: 75px;
    display: flex;
}
.admin_content .admin_main_content{
    height: 100%;
    width: 77%;
    background-color: #eeeefb;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.admin_content .admin_main_content::-webkit-scrollbar-track{
	background-color: transparent;
}
.admin_content .admin_main_content::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
}
.admin_content .admin_main_content::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b9b9f8;
}
.admin_content .admin_main_content > .container{
    width: 90%;
    height: auto;
    margin: 0% auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.admin_content .admin_main_content > .container h1:nth-child(1){
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 1000;
}






.admin_content .admin_main_content > .container .schedule_top{
    height: auto;
    width: 94%;
    padding: 10px 3%;
    border-radius: 10px;
    background: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
}
.admin_content .admin_main_content > .container .schedule_top .left{
    height: auto;
    display: flex;
    align-items: center;
}
.admin_content .admin_main_content > .container .schedule_top .search_container{
    border-radius: 5px;
    height: 30px;
    width: 250px;
    border: 1.5px solid rgb(150, 150, 150);
    display: flex;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.admin_content .admin_main_content > .container .schedule_top .search_container:hover{
    border: 1.5px solid #4D77FF;
}
.admin_content .admin_main_content > .container .schedule_top .search_container .icon{
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_content .admin_main_content > .container .schedule_top .search_container .icon img{
    height: 50%;
    width: auto;
}
.admin_content .admin_main_content > .container .schedule_top .search_container input{
    height: 100%;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: .9rem;
    flex-grow: 1;
}
.admin_content .admin_main_content > .container .schedule_top .search_container .icon:nth-child(2):hover,
.admin_content .admin_main_content > .container .schedule_top .filter_date{
    cursor: pointer;
}

.admin_content .admin_main_content > .container .schedule_top .right{
    height: auto;
    display: flex;
    align-items: center;
    margin: 0;
}
.admin_content .admin_main_content > .container .schedule_top .right .search_container{
    font-size: 1rem;
    display: flex;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: .9rem;
}
.admin_content .admin_main_content > .container .schedule_top .right .search_container:hover{
    cursor: pointer;
    opacity: 90%;
}
.admin_content .admin_main_content > .container .schedule_top .right .search_container span{
    margin: 0 13px;
}

.admin_content .admin_main_content > .container .all_vaccine_container{
    margin-top: 40px;
    height: auto;
    width: 100%;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer{
    margin: 20px 20px;
    height: 295px;
    width: 290px;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer .top{
    height: 35px;
    margin-top: 10px;
    color: #323233;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer .top #dot:hover{
    cursor: pointer;
    color: rgb(104, 104, 104);
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer img{
    height: 150px;
    width: 150px;
    background-color: #4D77FF;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 10px;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer .bot1{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer .bot1 span{
    font-size: 1.3rem;
    font-weight: 800;
    margin: 0 15px;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer .bot2{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_content .admin_main_content > .container .all_vaccine_container .vaccine_cotainer .bot2 p{
    font-size: 1rem;
    font-weight: 600;
    color: #A1ACB8;
    text-align: center;
    margin: 0 15px;
    line-height: 1.1;
}

#voice_search_icon:hover{
    cursor: pointer;
}

.no_schedule_available{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no_schedule_available img{
    height: 150px;
}
.no_schedule_available p{
    margin-top: 10px;
    font-weight: 600;
}


.filter_btn{
    width: 95%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.filter_btn .left span{
    font-weight: 800;
    font-size: 1rem;
    color: #696CFF;
}
.filter_btn .left span:hover,.filter_btn .right span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.filter_btn .right span:nth-child(1){
    font-weight: 800;
    font-size: 1rem;
    color: rgb(68, 68, 68);
}
.filter_btn .right span:nth-child(2){
    margin-left: 10px;
    font-weight: 800;
    font-size: 1rem;
    color: #696CFF;
}

/*SPEECH MODAL*/
.speech_Modal{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.speech_Modal .close_speech{
    font-size: 2.3rem;
    font-weight: 600;
    position: fixed;
    right: 2%;
    top: 1%;
    z-index: 99999999999;
}
.speech_Modal .close_speech:hover{
    cursor: pointer;
    opacity: 80%;
}
.speech_Modal #speak_text{
    font-size: 2rem;
    color: rgb(103, 103, 103);
    margin-right: 140px;
    transition: .3s ease;
}
.speech_Modal #speak_text:first-letter {
    text-transform: uppercase;
}
.speech_Modal img{
    height: 200px;
    width: auto;
    transition: .3s ease;
}


/*View vaccine modal*/
.view_vaccine_container{
    z-index: 101;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.292);
    position: fixed;
    inset: 0;
    display: none;
    justify-content: flex-end;
}
.view_vaccine_container .view_container{
    margin-right: -100%;
    height: 100%;
    width: 650px;
    background-color: #ffff;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
}
.view_container .close_btn{
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.view_container .close_btn span{
    font-size: 3rem;
    font-weight: 800;
    margin-right: 20px;
}
.view_container .close_btn span:hover{
    cursor: pointer;
    opacity: 70%;
}
.view_container .top{
    height: auto;
    width: 90%;
    margin: 0% auto;
    margin-top: -25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #4D77FF;
}
.view_container .top .first{
    margin-bottom: 20px;
    height: 5vh;
    width: 90%;
    display: flex;
    align-items: center;
}
.view_container .top .first img{
    height: 30px;
    width: auto;
    margin-right: 15px;
}
.view_container .top .first p{
    line-height: 1.1;
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
}
.view_container .top .second{
    width: 100%;
    height: 200px;
    display: flex;
}
.view_container .top .second .left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.view_container .top .second .left img{
    height: 150px;
    width: 150px;
    background-color: #4D77FF;
    border-radius: 10px;
    object-fit: cover;
}
.view_container .top .second .right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.view_container .top .second .right label{
    font-size: 1.2rem;
    color: #8A8A8A;
    font-weight: 600;
}
.view_container .top .second .right p{
    font-size: 2rem;
    color: #000000;
    font-weight: 800;
    line-height: 1.1;
    margin-right: 20px;
}
.view_container .bottom{
    flex-grow: 1;
    width: 100%;
    margin: 0% auto;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow-y: scroll;
}
.view_container .bottom::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.view_container .bottom::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.view_container .bottom::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #4D77FF; 
}
.view_container .bottom::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}
.view_container .bottom .content{
    width: 90%;
    height: auto;
    margin: 0% auto;
}
.view_container .bottom .content p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
}
.view_container .bottom .content label{
    font-size: 1rem;
    color: #8A8A8A;
    font-weight: 600;
}

.view_container .bottom .content .flex_bot{
    display: flex;
    margin-top: 10px;
}
.view_container .bottom .content .flex_bot .box{
    width: 50%;
}




/*Edit vaccine modal*/
.edit_vaccine_container{
    z-index: 101;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.292);
    position: fixed;
    inset: 0;
    display: none;
    justify-content: flex-end;
}
.edit_vaccine_container #edit_container{
    margin-right: -100%;
    transition: .5s ease;
}
.edit_vaccine_container .edit_container{
    height: 100%;
    width: 600px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}
.edit_container .close_btn{
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.edit_container .close_btn span{
    font-size: 3rem;
    font-weight: 800;
    margin-right: 20px;
}
.edit_container .close_btn span:hover{
    cursor: pointer;
    opacity: 70%;
}
.edit_container .top{
    height: auto;
    width: 85%;
    margin: 0% auto;
    margin-top: -25px;
}
.edit_container .top .first{
    margin-bottom: 20px;
    height: 5vh;
    width: 95%;
    display: flex;
    align-items: center;
}
.edit_container .top .first img{
    height: 30px;
    width: auto;
    margin-right: 15px;
}
.edit_container .top .first p{
    line-height: 1.1;
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
}
.edit_container .top .second{
    width: 100%;
    height: 200px;
    display: flex;
}
.edit_container .top .second .left{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.edit_container .top .second .left img{
    height: 150px;
    width: 150px;
    background-color: #4D77FF;
    border-radius: 10px;
    object-fit: cover;
}
.edit_container .top .second .right{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.edit_container .top .second .right .upload_btn{
    font-size: 1rem;
    width: 120px;
    padding: 8px 0;
    font-weight: 700;
    background-color: #e7eaee;
    border: 2px solid #e7eaee;
    border-radius: 5px;
    color: #4D77FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.edit_container .top .second .right .upload_btn:hover,
.edit_container .top .second .right .remove_btn:hover{
    border: 2px solid #000000;
    cursor: pointer;
}
.edit_container .top .second .right .remove_btn{
    font-size: 1rem;
    width: 120px;
    padding: 8px 0;
    font-weight: 700;
    background-color: #ffff;
    border: 2px solid #4D77FF;
    border-radius: 5px;
    color: #4D77FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.edit_container .bottom{
    flex-grow: 1;
    width: 100%;
    margin: 0% auto;
    margin-bottom: 5%;
    overflow-y: scroll;
}
.edit_container .bottom::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.edit_container .bottom::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.edit_container .bottom::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #4D77FF; 
}
.edit_container .bottom::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}
.edit_container .bottom .content{
    width: 85%;
    margin: 0% auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.edit_container .bottom .content label{
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: 800;
}
.edit_container .bottom .content input{
    border:2px solid #b9c5d2;
    font-size: 1rem;
    padding: 10px 0;
    font-weight: 500;
    outline-color: #4D77FF;
    text-indent: 10px;
    border-radius: 10px;
}
.edit_container .bottom .content textarea{
    border:2px solid #b9c5d2;
    resize: none;
    height: 100px;
    font-size: 1rem;
    padding: 10px 2%;
    font-weight: 500;
    outline-color: #4D77FF;
    text-indent: 10px;
    border-radius: 10px;
}
.edit_container .bottom .content .flex_bot{
    width: 100%;
    display: flex;
}
.edit_container .bottom .content .flex_bot .box{
    width: 50%;
}
.edit_container .bottom .content .flex_bot .box input{
    margin-top: 10px;
    width: 90%;
}
.edit_container .bottom .content .button{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit_container .bottom .content .button button{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
    height: 100%;
    width: 120px;
    border-radius: 5px;
}
.edit_container .bottom .content .button button:hover{
    cursor: pointer;
    opacity: 80%;
}
.edit_container .bottom .content .button button[type="button"]{
    border: 2px solid #4D77FF;
    color: #4D77FF;
}
.edit_container .bottom .content .button button[type="submit"]{
    border: 2px solid #4D77FF;
    background-color: #4D77FF;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Add Vaccine*/
.add_vaccine_container{
    width: 90%;
    padding: 3% 5%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}
.add_vaccine_container .top{
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid #4D77FF;
}
.add_vaccine_container .top .image_container{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    border: 1px dashed #626F75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add_vaccine_container .top .image_container #upload_photo_btn{
    color: #4D77FF;
    font-size: .9rem;
    font-weight: 600;
    margin: 0 10px;
    margin-top: 5px;
    text-align: center;
}
.add_vaccine_container .top .image_container #upload_photo_btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.add_vaccine_container .top .image_container .notes{
    margin-top: 20px;
}
.add_vaccine_container .top .image_container .notes > p:nth-child(1){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_vaccine_container .top .image_container .notes > p:nth-child(2){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_vaccine_container .top .image_container .notes > p:nth-child(3){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_vaccine_container .top .image_container .notes > p:nth-child(4){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_vaccine_container .top .image_container #vaccine_add_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: none;
}
.add_vaccine_container .top .image_container .cancel_btn{
    margin-top: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.412);
    display: none;
    align-items: center;
    justify-content: center;
}
.add_vaccine_container .top .image_container .cancel_btn > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 800;
    color: #ffff;
    border-bottom: 1px solid transparent;
}
.add_vaccine_container .top .image_container .cancel_btn > div:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
.add_vaccine_container .top .right{
    flex-grow: 1;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.add_vaccine_container .label{
    font-size: 1.2rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 5px;
}
.add_vaccine_container .input_top{
    border:2px solid #b9c5d2;
    font-size: 1rem;
    padding: 7px 0;
    width: 70%;
    font-weight: 500;
    outline-color: #4D77FF;
    text-indent: 10px;
    border-radius: 10px;
}
.add_vaccine_container textarea{
    border:2px solid #b9c5d2;
    resize: none;
    height: 100px;
    font-size: 1rem;
    padding: 10px 2%;
    font-weight: 500;
    outline-color: #4D77FF;
    border-radius: 10px;
}
.add_vaccine_container .flex_bot{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.add_vaccine_container .flex_bot .box{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.add_vaccine_container .flex_bot .box label{
    font-size: 1.2rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 5px;
}
.add_vaccine_container .flex_bot .box input{
    width: 100%;
}

.add_vaccine_container .button{
    margin-top: 30px;
    width: 100%;
    border: 2px solid transparent;
    height: 45px;
}
.add_vaccine_container .button button{
    height: 40px;
    width: 150px;
    float: right;
    background-color: #4D77FF;
    border: none;
    color: #ffff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    transition: .3s ease;
}
.add_vaccine_container .button button:hover{
    opacity: 90%;
}

/*Success Slide Modal*/
.success_addVaccine_modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.381);
    position: fixed;
    inset: 0;
    z-index: 101;
    display: none;
    align-items: center;
    justify-content: center;
}
.success_vax_container{
    width: 500px;
    height: auto;
    margin: 0 5%;
    padding: 30px 0;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.success_vax_container img{
    height: 80px;
    width: 80px;
    padding: 30px;
    object-fit: cover;
    background-color: #ebeaea;
    border-radius: 10px;
    margin-bottom: 10px;
}.success_vax_container p{
    font-size: 1rem;
    margin: 0 20px;
    text-align: center;
}
.success_vax_container .head_text{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 20px;
}
.success_vax_container button{
    border-radius: 5px;
    width: 150px;
    padding: 8px 0;
    font-size: 1rem;
    background-color: #4D77FF;
    color: #ffff;
    border: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success_vax_container button:hover{
    opacity: 90%;
}


/*RESPONSIVE*/
@media screen and (max-width: 851px) {
    .admin_content{
        overflow-y: hidden;
    }
    .admin_content .admin_main_content{
        width: 100%;
        overflow-x: hidden;
    }
    .admin_content .admin_main_content > .container  .box_stats{
        height:auto;
        flex-direction: column;
    }
    .admin_content .admin_main_content > .container  .box_stats .container{
        width: 100%;
        height: 130px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .admin_content .admin_main_content > .container  .box_stats .container .right p:nth-child(1){
        font-size: 1rem;
    }
    .admin_content .admin_main_content > .container  .box_stats .container .right p:nth-child(2){
        font-size: 2.5rem;
    }
  
    
}

@media screen and (max-width: 650px) {
    .view_vaccine_container .view_container{
        width: 100%;
    }

    .view_container .top .first img{
        height: 25px;
    }
    .view_container .top .first p{
        font-size: 1.5rem;
    }

    .view_container .top .second{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .view_container .top .second .left{
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .view_container .top .second .left img{
        height: 150px;
        width: 150px;
        background-color: #4D77FF;
        border-radius: 10px;
        object-fit: cover;
    }
    .view_container .top .second .right{
        margin-top: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .view_container .top .second .right label{
        text-align: center;
    }
    .view_container .top .second .right p{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 20px;
    }

    .view_container .bottom .content .flex_bot{
        flex-direction: column;
        margin-top: 10px;
    }
    .view_container .bottom .content .flex_bot .box{
        width: 100%;
    }

    .edit_vaccine_container .edit_container{
        width: 100%;
    }
    .edit_container .top .first img{
        height: 25px;
    }
    .edit_container .top .first p{
        line-height: 1.1;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 800;
        white-space: nowrap;
    }
    .edit_container .top .second{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .edit_container .top .second .left{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .edit_container .top .second .right{
        margin-top: 10px;
        width: 100%;
        height: auto;
    }
    .edit_container .top .second .right .upload_btn{
        padding: 5px 0;
    }
    .edit_container .top .second .right .remove_btn{
        padding: 5px 0;
    }

    .edit_container .bottom{
        margin-top: 20px;
    }
    .edit_container .bottom .content .flex_bot{
        flex-direction: column;
    }
    .edit_container .bottom .content .flex_bot .box{
        margin-bottom: 20px;
        width: 100%;
    }
    .edit_container .bottom .content .flex_bot .box:last-child{
        margin-bottom: 0;
    }
    .edit_container .bottom .content .flex_bot .box input{
        width: 100%;
    }

    .add_vaccine_container{
        padding: 30px 10%;
        width: 80%;
    }
    .add_vaccine_container #upload_img_icon{
        display: none;
    }
    .add_vaccine_container .top{
        flex-direction: column;
    }
    .add_vaccine_container .top .image_container{
        height: 180px;
        width: 180px;
        margin: 0% auto;
        margin-bottom: 20px;
    }
    .add_vaccine_container .top .right{
        margin-left: 0;
    }
    .add_vaccine_container .label{
        font-size: 1rem;
        color: #000000;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .add_vaccine_container .input_top{
        font-size: .9rem;
        width: 100%;
    }

    .add_vaccine_container .flex_bot{
        margin-top: 0 !important;
        flex-direction: column;
    }
    .add_vaccine_container .flex_bot .box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .add_vaccine_container .flex_bot .box label{
        margin-top: 20px;
        font-size: 1rem;
    }
    .add_vaccine_container .flex_bot .box input{
        width: 100%;
    }
    .add_vaccine_container .button button{
        width: 100%;
    }
    
}