.admin_content .right_navigation{
    height: 100%;
    width: 20%;
    min-width: 293px;
    padding: 0 1.5%;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.admin_content .right_navigation .top{
    width: 100%;
    height: 12%;
    display: flex;
}
.admin_content .right_navigation .top .left{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.admin_content .right_navigation .top .right{
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.admin_content .right_navigation .top .right .box{
    height: 60%;
    width: 95%;
    background-color: #dbedfb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: .3s ease;
}
.admin_content .right_navigation .top .right .box:hover{
    cursor: pointer;
    background-color: #cfe6f8;
}
.admin_content .right_navigation .top .right .box .left{
    display: flex;
    width: 80%;
}
.admin_content .right_navigation .top .right .box .left img{
    margin-left: 10px;
    margin-right: 10px;
    height: 38px;
    width: 38px;
    border-radius: 5px;
    object-fit: cover;
}
.admin_content .right_navigation .top .right .box .left p{
    font-size: 1.1rem;
    font-weight: 700;
}
.admin_content .right_navigation .top .right .box span{
    font-size: 2rem;
    font-weight: 600;
    transform: rotate(90deg);
}

/*Task scheduler*/
.admin_content .right_navigation .middle{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    background-color: #EEEEFA;
}
.admin_content .right_navigation .middle .top{
    width: 90%;
    padding: 0 5%;
    min-height: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #696CFF;
    display: flex;
}
.admin_content .right_navigation .middle .top .left{
    width: 55%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.admin_content .right_navigation .middle .top .left p:nth-child(1){
    font-size: 1.1rem;
    color: #ffff;
    font-weight: 700;
    line-height: 1;
}
.admin_content .right_navigation .middle .top .left p:nth-child(2){
    margin-top: 2px;
    font-size: .9rem;
    color: #ffff;
    font-weight: 400;
    line-height: 1;
}
.admin_content .right_navigation .middle .top .right{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.admin_content .right_navigation .middle .top .right .add_task_btn{
    font-size: .9rem;
    border-radius: 8px;
    margin-right: 2px;
    font-weight: 700;
    padding: 5px 10px;
    color: #4a4ccc;
    background-color: #ffff;
}
.admin_content .right_navigation .middle .top .right .add_task_btn:hover{
    cursor: pointer;
    opacity: 90%;
}
.admin_content .right_navigation .middle .top .right #view_all_task_btn:hover{
    cursor: pointer;
    color: rgb(199, 212, 247);
}
.admin_content .right_navigation .middle .semitop{
    width: 90%;
    padding: 0 5%;
    padding-bottom: 5%;
    min-height: 59px;
    background-color: #696CFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin_content .right_navigation .middle .semitop .box{
    height: 60px;
    width: 35px;
    border-radius: 20px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin_content .right_navigation .middle .semitop .box:hover{
    cursor: pointer;
    color: rgb(192, 206, 228);
}
.admin_content .right_navigation .middle .semitop .box_active{
    background-color: #ffff;
    color: rgb(27, 26, 26);
}
.admin_content .right_navigation .middle .semitop .box p:nth-child(1){
    font-size: .8rem;
    font-weight: 700;
}
.admin_content .right_navigation .middle .semitop .box p:nth-child(2){
    font-size: .8rem;
    font-weight: 700;
}
.admin_content .right_navigation .middle .bottom{
    width: auto;
    height: auto;
    flex-grow: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: scroll;
    background-color: #EEEEFA;
}
.admin_content .right_navigation .middle .bottom::-webkit-scrollbar-track{
	background-color: transparent;
}
.admin_content .right_navigation .middle .bottom::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
}
.admin_content .right_navigation .middle .bottom::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b9b9f8;
}

.admin_content .right_navigation .middle .bottom .box{
    width: 90%;
    height: auto;
    margin: 20px auto;
    display: flex;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.admin_content .right_navigation .middle .bottom .box:hover{
    cursor: pointer;
    opacity: 90%;
}
.admin_content .right_navigation .middle .bottom .box .left{
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(1n+1) .left{
    background-color: #a5a7fa;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(2n+2) .left{
    background-color: #ff7191;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(3n+3) .left{
    background-color: #fab856;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(4n+4) .left{
    background-color: #51cda0;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(5n+5) .left{
    background-color: #df874d;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(6n+6) .left{
    background-color: #7f3941;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(7n+7) .left{
    background-color: #4c9ca0;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(8n+8) .left{
    background-color: #4d5361;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(9n+9) .left{
    background-color: #c82e91;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(10n+10) .left{
    background-color: #f87d53;
}
.admin_content .right_navigation .middle .bottom .box .left #task_icon{
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffff;
}
.admin_content .right_navigation .middle .bottom .box .left p{
    font-size: .8rem;
    font-weight: 600;
    color: #ffff;
    white-space: nowrap;
    line-height: 1.1;
}
.admin_content .right_navigation .middle .bottom .box .right{
    width: 70%;
    height: 80px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_content .right_navigation .middle .bottom .box .right p:nth-child(1){
    font-size: 1rem;
    color: #ffff;
    font-weight: 800;
    line-height: 1.1;
    margin: 0 10px;
    text-align: center;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(1n+1) .right{
    background-color: #bebffa;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(2n+2) .right{
    background-color: #fda1b7;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(3n+3) .right{
    background-color: #f7cc8d;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(4n+4) .right{
    background-color: #97d9c1;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(5n+5) .right{
    background-color: #f5ba92;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(6n+6) .right{
    background-color: #a56e75;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(7n+7) .right{
    background-color: #88c3c6;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(8n+8) .right{
    background-color: #787c86;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(9n+9) .right{
    background-color: #d366ad;
}
.admin_content .right_navigation .middle .bottom .box:nth-child(10n+10) .right{
    background-color: #f4a88f;
}

/*Bottom*/
.admin_content .right_navigation > .bottom{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 17px;
    width: 100%;
    height:28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbe9f5;
    align-items: flex-start;
}
.admin_content .right_navigation > .bottom .top{
    width: 100%;
    height: 40%;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.admin_content .right_navigation > .bottom .bottom{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_content .right_navigation > .bottom .bottom p:nth-child(1){
    font-size: .9rem;
    color: #4D77FF;
    font-weight: 700;
    margin: 0 20px;
    text-transform: uppercase;
}
.admin_content .right_navigation > .bottom .bottom p:nth-child(2){
    font-size: 1rem;
    color: #263238;
    font-weight: 600;
    margin: 0 20px;
    margin-bottom: 5px;
}
.admin_content .right_navigation > .bottom .bottom p:nth-child(3){
    font-size: .9rem;
    color: #4D77FF;
    font-weight: 700;
    margin: 0 20px;
    text-transform: uppercase;
}
.admin_content .right_navigation > .bottom .bottom p:nth-child(4){
    font-size: 1rem;
    color: #263238;
    font-weight: 600;
    margin: 0 20px;
}