nav{
    height: 12vh;
    width: 100%;
    position: sticky;
    top: 0%;
    background-color: #ffff;
    display: flex;
    z-index: 1;
    transition: .3s ease;
}

nav .left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .left img{
    height: 50%;
    width: auto;
}

nav .center{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav .center span{
    font-weight: 800;
    font-size: 1rem;
    color: #121212;
}
nav .center span:hover, nav .right span:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #444444;
}

nav .right{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .right span{
    font-weight: 800;
    font-size: 1rem;
    color: #121212;
    margin-right: 15px;
}
nav .right .signup_btn{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-weight: 800;
    background-color: #4D77FF;
    margin-left: 15px;
    transition: .1s ease-in;
}
nav .right .signup_btn:hover{
    opacity: 70%;
    cursor: pointer;
}
nav .right img{
    display: none;
}


/*RESPONSIVE*/
@media screen and (max-width: 1025px) {
    nav > .center{
      display: none;
    }
    nav > .left{
       width: 50%;
       justify-content: flex-start;
    }
    nav > .left img{
        margin-left: 15%;
    }
    nav > .right{
        width: 50%;
        justify-content: flex-end;
    }
    nav > .right span,nav .right .signup_btn{
        display: none;
    }
    nav > .right img{
        display: block;
        margin-right: 15%;
        height: 35px;
        width: auto;
        transition: .1s ease-in;
    }
    nav > .right img:hover{
        cursor: pointer;
        opacity: 70%;
    }
}