body{
    overflow-x: hidden;
}
.admin_schedule_container{
    height: 100vh;
    width: 100%;
    display: flex;
}

.admin_content{
    width: 95.1%;
    height: 100%;
    margin-left: 75px;
    display: flex;
}
.admin_content .admin_main_content{
    height: 100%;
    width: 77%;
    background-color: #eeeefb;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.admin_content .admin_main_content::-webkit-scrollbar-track{
	background-color: transparent;
}
.admin_content .admin_main_content::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
}
.admin_content .admin_main_content::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b9b9f8;
}
.admin_content .admin_main_content > .container{
    width: 90%;
    height: auto;
    margin: 0% auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.admin_content .admin_main_content > .container h1:nth-child(1){
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 1000;
}



/*Add Vaccine*/
.add_patient_container{
    width: 90%;
    padding: 3% 5%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}
.add_patient_container .top{
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid #4D77FF;
}
.add_patient_container .top .image_container{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    border: 1px dashed #626F75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add_patient_container .top .image_container #upload_photo_btn{
    color: #4D77FF;
    font-size: .9rem;
    font-weight: 600;
    margin: 0 10px;
    margin-top: 5px;
    text-align: center;
}
.add_patient_container .top .image_container #upload_photo_btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.add_patient_container .top .image_container .notes{
    margin-top: 20px;
}
.add_patient_container .top .image_container .notes > p:nth-child(1){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_patient_container .top .image_container .notes > p:nth-child(2){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_patient_container .top .image_container .notes > p:nth-child(3){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_patient_container .top .image_container .notes > p:nth-child(4){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_patient_container .top .image_container .notes > p:nth-child(5){
    color: #6F727A;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 10px;
}
.add_patient_container .top .image_container #patient_add_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: none;
}
.add_patient_container .top .image_container .cancel_btn{
    margin-top: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.412);
    display: none;
    align-items: center;
    justify-content: center;
}
.add_patient_container .top .image_container .cancel_btn > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 800;
    color: #ffff;
    border-bottom: 1px solid transparent;
}
.add_patient_container .top .image_container .cancel_btn > div:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
.add_patient_container .top .right{
    flex-grow: 1;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.add_patient_container .label{
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 5px;
}
.add_patient_container .input_top{
    border:2px solid #b9c5d2;
    font-size: 1rem;
    padding: 7px 0;
    width: 70%;
    font-weight: 500;
    outline-color: #4D77FF;
    text-indent: 10px;
    border-radius: 10px;
}
.add_patient_container .flex_bot{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.add_patient_container .flex_bot .box{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.add_patient_container .flex_bot .box label{
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 5px;
}
.add_patient_container .flex_bot .box input{
    width: 100%;
}
.add_patient_container .flex_bot .box select{
    border:2px solid #b9c5d2;
    font-size: 1rem;
    padding: 7px 0;
    width: 100%;
    font-weight: 500;
    outline-color: #4D77FF;
    text-indent: 10px;
    border-radius: 10px;
}
.add_patient_container h1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 1000;
}

.add_patient_container .entry_button{
    display: flex;
    justify-content: flex-end;
}
.add_patient_container .entry_button button{
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.add_patient_container .entry_button button:hover{
    opacity: 90%;
}
.add_patient_container .entry_button button:nth-child(1){
    background-color: #f75b5b;
    color: #ffff;
    margin-right: 10px;
}
.add_patient_container .entry_button button:nth-child(2){
    background-color: #7296f1;
    color: #ffff;
}
.add_patient_container .button_submit{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_patient_container .button_submit button{
    font-size: 1rem;
    padding: 5px 0;
    height: 37px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background-color: #4D77FF;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_patient_container .button_submit button:hover{
    opacity: 90%;
}


/*View Patient*/
.left_in_top_Patient{
    width: auto;
}
.left_in_top_Patient .search_container{

}
.left_in_top_Patient .change_view{
    height: 30px;
    width: auto;
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
}
.left_in_top_Patient .change_view .box{
    margin-left: 10px;
    height: 30px;
    width: 80px;
    border: 1.5px solid rgb(150, 150, 150);
    border-radius: 5px;
    display: flex;
    background-color: rgb(232, 230, 230);
}
.left_in_top_Patient .change_view .box .content{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
}
.left_in_top_Patient .change_view .box .content #grid_icon{
    color: #4D77FF;
}
.left_in_top_Patient .change_view .box .content #row_icon{
    color: #898a95;
}
.left_in_top_Patient .change_view .box .content:hover{
    cursor: pointer;
    background-color: rgb(210, 210, 210);
}
.patient_box_container{
    margin: 25px 30px;
    height: 310px;
    width: 260px;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.patient_box_container .top{
    height: 15%;
    width: 97%;
    margin: 0% auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.patient_box_container .top #dot{
    color: #232325;
}
.patient_box_container .top #dot:hover{
    cursor: pointer;
    color: rgb(104, 104, 104);
}
.patient_box_container .middle{
    height: 60%;
    width: 85%;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.patient_box_container .middle img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.patient_box_container .bottom{
    height: auto;
    width: 85%;
    margin: 0% auto;
}
.patient_box_container .bottom p:nth-child(1){
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
}
.patient_box_container .bottom p:nth-child(2){
    font-size: .9rem;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    color: #697A8D;
    text-overflow: ellipsis;
}


/*Patient Profile*/
.breadcrumbs_patient_profile{
    width: 100%;
    height: auto;
    display: flex;
}
.breadcrumbs_patient_profile p{
    font-size: 1.1rem;
    font-weight: 700;
    color: #626F75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumbs_patient_profile p:nth-child(2){
    margin: 0 10px;
    font-size: 1.6rem;
    line-height: 1;
    color: #4D77FF;
}
.breadcrumbs_patient_profile p:nth-child(3){
    color: #4D77FF;
}
.breadcrumbs_patient_profile p:nth-child(1):hover{
    cursor: pointer;
    text-decoration: underline;
} 
.profile_cover{
    margin-top: 20px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.name_image{
    margin-top: -100px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.name_image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 20px;
}
.name_image .name_container{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.name_image .name_container p:nth-child(1){
    font-size: 2rem;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.name_image .name_container p:nth-child(2){
    font-size: 1rem;
    font-weight: 500;
    color: #697A8D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mother_child_info_container{
    margin-top: 40px;
    height: auto;
    width: 100%;
    padding: 30px 0;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mother_child_info_container .top{
    margin: 0% auto;
    margin-bottom: 40px;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
}
.mother_child_info_container .top img{
    height: 25px;
    width: auto;
}
.mother_child_info_container .top p{
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 15px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_container{
    width: 90%;
    height: auto;
    margin: 0% auto;
    margin-top: 30px;
    display: flex;
}
.info_container .a_c{
    width: 30%;
    height: auto;
}
.info_container .b{
    width: 40%;
    height:auto;
}
.info_container .label{
    font-size: 1rem;
    color: #8A8A8A;
    font-weight: 700;
    margin-bottom: 2px;
}
.info_container .value{
    font-size: 1.1rem;
    color: black;
    font-weight: 800;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view_record{
    margin: 0% auto;
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.view_record p{
    font-size: 1rem;
    font-weight: 600;
    color: #4D77FF;
    text-decoration: underline;
}
.view_record p:hover{
    cursor: pointer;
    color: black;
}
.vaccine_record_container{
    display: none;
    height: auto;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.vaccine_record_container table{
    width: 100%;
    height: auto;
    background-color: #ffff;
    border-collapse: collapse;
}
.vaccine_record_container table tr th{
    padding: 10px 0;
    background-color: #4D77FF;
    text-align: center;
    color: #ffff;
    border: 1.5px solid #4D77FF;
}
.vaccine_record_container table tr th span{
    font-size: 1rem;
    margin: 0 10px;
    text-align: center;
}
.vaccine_record_container table tr td{
    padding: 10px 0;
    text-align: center;
    color: black;
    border: 1.5px solid #4D77FF;
}
.vaccine_record_container table tr td span{
    margin: 0 10px;
    font-size: .8rem;
    font-weight: 700;
    color: #4D77FF;
    text-align: center;
}
.vaccine_record_container table tr td img{
    height: 15px;
}



/*Success Slide Modal*/
.success_addPatient_modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.381);
    position: fixed;
    inset: 0;
    z-index: 101;
    display: none;
    align-items: center;
    justify-content: center;
}
.success_patient_container{
    width: 500px;
    height: auto;
    margin: 0 5%;
    padding: 30px 0;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.success_patient_container img{
    height: 70px;
    width: 70px;
    padding: 30px;
    background-color: #ebeaea;
    border-radius: 10px;
    margin-bottom: 10px;
}.success_patient_container p{
    font-size: 1rem;
    margin: 0 20px;
    text-align: center;
}
.success_patient_container .head_text{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 20px;
}
.success_patient_container button{
    border-radius: 5px;
    width: 150px;
    padding: 8px 0;
    font-size: 1rem;
    background-color: #4D77FF;
    color: #ffff;
    border: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success_patient_container button:hover{
    opacity: 90%;
}





/*RESPONSIVE*/
@media screen and (max-width: 851px) {
    .admin_content{
        overflow-y: hidden;
    }
    .admin_content .admin_main_content{
        width: 100%;
        overflow-x: hidden;
    }   
}

@media screen and (max-width: 650px) {
    .add_patient_container{
        padding: 30px 10%;
        width: 80%;
    }
    .add_patient_container #upload_img_icon{
        display: none;
    }
    .add_patient_container .top{
        flex-direction: column;
    }
    .add_patient_container .top .image_container{
        height: 180px;
        width: 180px;
        margin: 0% auto;
        margin-bottom: 20px;
    }
    .add_patient_container .top .right{
        margin-left: 0;
    }
    .add_patient_container .label{
        font-size: 1rem;
        color: #000000;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .add_patient_container .input_top{
        font-size: .9rem;
        width: 100%;
    }
    .add_patient_container .flex_bot{
        margin-top: 0 !important;
        flex-direction: column;
    }
    .add_patient_container .flex_bot .box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .add_patient_container .flex_bot .box label{
        margin-top: 20px;
        font-size: 1rem;
    }
    .add_patient_container .flex_bot .box input{
        width: 100%;
    }
    .add_patient_container .entry_button{
        display: flex;
        flex-direction: column;
    }
    .add_patient_container .entry_button button{
        width: 100%;
        margin-bottom: 10px;
    }
    .add_patient_container .button_submit{
        margin-top: 10px;
    }
    .add_patient_container .button_submit button{
        width: 100%;
    }
    

    .name_image{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name_image img{
        height: 150px;
        width: 150px;
        margin-left: 0;
        margin-right: 0;
    }
    .name_image .name_container{
        width: 100%;
        height: auto;
    }

    .name_image .name_container p:nth-child(1){
        text-align: center;
    }
    .name_image .name_container p:nth-child(2){
        text-align: center;
    }

    .mother_child_info_container .top{
        width: 80%;
    }
    .info_container{
        width: 80%;
        margin-top: 0;
        flex-direction: column;
    }
    .info_container .a_c{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .info_container .b{
        width: 100%;
        height:auto;
        margin-bottom: 20px;
    }
    .info_container .value{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .vaccine_record_container{
        overflow-x: scroll;
    }
}