*{
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Manrope', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
body::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #4D77FF; 
}
body::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}
p,h1{
    margin: 0;
}


button:hover{
    cursor: pointer;
}

.Link_React{
    text-decoration: none;
    color: #121212;
}

/*RESPONSIVE*/
@media screen and (max-width: 501px) {
    .admin_content .right_navigation{
        display: none;
    }
    .admin_content .admin_main_content{
        width: 100%;
    }
}
