*{
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Manrope', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
body::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #4D77FF; 
}
body::-webkit-scrollbar-thumb:window-inactive {
    background: transparent; 
}
p,h1{
    margin: 0;
}


button:hover{
    cursor: pointer;
}

.Link_React{
    text-decoration: none;
    color: #121212;
}

/*Modal Container*/
.modal_container{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

#edit_task_modal_container{
    z-index: 101;
}

#progress_btn{
    display: none;
    height: 25px !important;
    width: 25px !important;
}

#progress_btn_schedule_modal{
    display: none;
    height: 17px !important;
    width: 17px !important;
}


/*Profile Notifyer*/
.profile_notify_container{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.477);
    z-index: 9999999;
    display: none;
}
.profile_notify_container .hand_mouse{
    margin-top: -15px;
    width: 40px;
    height: auto;
    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}
@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
}

.profile_notify_container .robot_container{
    height: 340px;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 300px;
    display: flex;
}
.profile_notify_container .robot_container .left{
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.profile_notify_container .robot_container .left img{
    height: 55%;
    width: auto;
}
.profile_notify_container .robot_container .right{
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.profile_notify_container .robot_container .right .convo_box{
    margin-top: 80px;
    height: auto;
    width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    padding: 20px 20px;
}
.profile_notify_container .robot_container .right .convo_box p:nth-child(1){
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    color: #4D77FF;
}
.profile_notify_container .robot_container .right .convo_box p:nth-child(2){
    font-size: 1rem;
    margin-top: 5px;
    line-height: 1.2;
}

.profile_notify_container .nav_active_notifier:hover{
    font-weight: bold;
    background-color: #fff2df;
    color: #4b4e52;
    opacity: 90%;
}



#typewriter1, #typewriter2 , #typewriter3{
    line-height: 1.2;
    width: auto;
    transition: 1s ease-in;
    white-space: nowrap;
    overflow: hidden;
}


/*RESPONSIVE*/
@media screen and (max-width: 851px) {
    .admin_content .right_navigation{
        display: none;
    }
}

/*RESPONSIVE*/
@media screen and (max-width: 300px) {
    body{
        display: none;
    }
}
